

.card-img {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 2rem;
}

.card-img:hover{
    transform: scale(1.05);
    transition: transform 100ms;
}
#dropdown{
    /* transform: translateY(45px); */
    top: 45px;
}